.header{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.link {
    font-size: 30px;
    margin-bottom: 20px;
}
.head{  
    width: 250px;
    margin-left: 500px;
    margin-top: 30px;
    
}
